<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	
	<appSettings>
		<add key="UnifiedDeployment_Application" value="EDGESERVICETEST"/>
		<add key="UnifiedDeployment_PluginUse" value="BASIC"/>
		<add key="UnifiedDeployment_Environment" value="QA" />
		<add key="EdgeUserID" value="DMGAPIUser"/>
		<add key="EdgePassword" value="APIUserDMG1!"/>
		<!--<add key="EdgeWebServiceUrl" value="https://qa.experientedge.com/services"/>-->
		<add key="EdgeWebServiceUrl" value="http://localhost:62467/"/>
		<add key="UseEDGEAlumniLookup" value="1"/>
	</appSettings>
	
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="ExportSoap" />
				<binding name="BasicHttpBinding_AuthenticationService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="4194304" maxReceivedMessageSize="4194304" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_RegistrationService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="5242880" maxBufferSize="4194304" maxReceivedMessageSize="4194304" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://qa.experientedge.com/services/Services/AuthenticationService.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AuthenticationService" contract="EdgeAuthService.AuthenticationService" name="BasicHttpBinding_AuthenticationService" />
			<endpoint address="https://qa.experientedge.com/services/RegistrationService.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_RegistrationService" contract="EdgeRegService.RegistrationService" name="BasicHttpBinding_RegistrationService" />
			<!--<endpoint address="http://localhost:62467/RegistrationService.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_RegistrationService" contract="EdgeRegService.RegistrationService" name="BasicHttpBinding_RegistrationService" />-->
		</client>
	</system.serviceModel>

</configuration>