<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="UnifiedDeployment_Application" value="EDGESERVICETEST"/>
		<add key="UnifiedDeployment_PluginUse" value="BASIC"/>
		<add key="UnifiedDeployment_Environment" value="QA" />
		<add key="EdgeUserID" value="DMGAPIUser"/>
		<add key="EdgePassword" value="APIUserDMG1!"/>
		<add key="EdgeWebServiceUrl" value="https://qa.experientedge.com/Services"/>
		<add key="UseEDGEAlumniLookup" value="1"/>
	</appSettings>
</configuration>