<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EDGE.Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EDGE.Business.Properties.Settings>
            <setting name="EDGE_Controller_AuthService_AuthenticationService"
                serializeAs="String">
                <value>http://emerald.experientedge.com/Services/AuthenticationService.svc/soap</value>
            </setting>
        </EDGE.Business.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_AuthenticationService" />
                <binding name="BasicHttpBinding_RegistrationService" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CustomBinding_AuthenticationService">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_AuthenticationService1">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_AuthenticationService2">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_RegistrationService">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_RegistrationService1">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_RegistrationService2">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://qa.experientedge.com/Services/AuthenticationService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AuthenticationService"
                contract="EdgeAuthService.AuthenticationService" name="BasicHttpBinding_AuthenticationService" />
            <endpoint address="http://qa.experientedge.com/Services/AuthenticationService.svc/bme"
                binding="customBinding" bindingConfiguration="CustomBinding_AuthenticationService"
                contract="EdgeAuthService.AuthenticationService" name="CustomBinding_AuthenticationService" />
            <endpoint address="http://qa.experientedge.com/Services/AuthenticationService.svc/bmez"
                binding="customBinding" bindingConfiguration="CustomBinding_AuthenticationService1"
                contract="EdgeAuthService.AuthenticationService" name="CustomBinding_AuthenticationService1" />
            <endpoint address="http://qa.experientedge.com/Services/AuthenticationService.svc/bmegz"
                binding="customBinding" bindingConfiguration="CustomBinding_AuthenticationService2"
                contract="EdgeAuthService.AuthenticationService" name="CustomBinding_AuthenticationService2" />
            <endpoint address="http://qa.experientedge.com/Services/RegistrationService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_RegistrationService"
                contract="EdgeRegService.RegistrationService" name="BasicHttpBinding_RegistrationService" />
            <endpoint address="http://qa.experientedge.com/Services/RegistrationService.svc/bme"
                binding="customBinding" bindingConfiguration="CustomBinding_RegistrationService"
                contract="EdgeRegService.RegistrationService" name="CustomBinding_RegistrationService" />
            <endpoint address="http://qa.experientedge.com/Services/RegistrationService.svc/bmez"
                binding="customBinding" bindingConfiguration="CustomBinding_RegistrationService1"
                contract="EdgeRegService.RegistrationService" name="CustomBinding_RegistrationService1" />
            <endpoint address="http://qa.experientedge.com/Services/RegistrationService.svc/bmegz"
                binding="customBinding" bindingConfiguration="CustomBinding_RegistrationService2"
                contract="EdgeRegService.RegistrationService" name="CustomBinding_RegistrationService2" />
        </client>
    </system.serviceModel>
</configuration>